In [155]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns

In [157]:
df=pd.DataFrame

In [159]:
df=pd.read_csv(r"C:\Users\Admin\Downloads\archive (1)\imdb_top_1000.csv")
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [161]:
df.shape

(1000, 16)

In [164]:
df=df[[ #'Poster_Link',
    'Series_Title', 'Released_Year', #'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating',# 'Overview', 'Meta_score',
     #'Director',
      # 'Star1', 'Star2', 'Star3', 'Star4', 
    'No_of_Votes','Gross'  ]].copy()

In [166]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [168]:
df.columns

Index(['Series_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating',
       'No_of_Votes', 'Gross'],
      dtype='object')

In [170]:
missing_value=df.isnull().sum()

In [172]:
print("The number of missing values is:" ,missing_value)

The number of missing values is: Series_Title       0
Released_Year      0
Runtime            0
Genre              0
IMDB_Rating        0
No_of_Votes        0
Gross            169
dtype: int64

In [174]:
df.fillna(0, inplace=True)

In [176]:
print(df.isnull().sum())

Series_Title     0
Released_Year    0
Runtime          0
Genre            0
IMDB_Rating      0
No_of_Votes      0
Gross            0
dtype: int64

In [199]:
df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,142 min,[Drama],1.000000,1.000000,28341469
1,The Godfather,1972,175 min,"[Crime, Drama]",0.941176,0.688207,134966411
2,The Dark Knight,2008,152 min,"[Action, Crime, Drama]",0.823529,0.982797,534858444
3,The Godfather: Part II,1974,202 min,"[Crime, Drama]",0.823529,0.476641,57300000
4,12 Angry Men,1957,96 min,"[Crime, Drama]",0.823529,0.286778,4360000

In [183]:
df.dtypes['Gross']

dtype('O')

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   object
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   No_of_Votes    1000 non-null   float64
 6   Gross          1000 non-null   object
dtypes: float64(2), object(5)
memory usage: 54.8+ KB

In [187]:
df['Gross'] = df['Gross'].replace('[\\$,]', '', regex=True) 
df['Gross'] = pd.to_numeric(df['Gross'], errors='coerce')

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   object
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   No_of_Votes    1000 non-null   float64
 6   Gross          1000 non-null   int64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB

In [191]:
print(df['Genre'].isna().sum())

0

In [193]:
df['Genre'] = df['Genre'].str.split(', ')  # Just split the genres without fillna('')

In [195]:
print(df['Genre'].head())

0                   [Drama]
1            [Crime, Drama]
2    [Action, Crime, Drama]
3            [Crime, Drama]
4            [Crime, Drama]
Name: Genre, dtype: object

In [197]:
df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,142 min,[Drama],1.000000,1.000000,28341469
1,The Godfather,1972,175 min,"[Crime, Drama]",0.941176,0.688207,134966411
2,The Dark Knight,2008,152 min,"[Action, Crime, Drama]",0.823529,0.982797,534858444
3,The Godfather: Part II,1974,202 min,"[Crime, Drama]",0.823529,0.476641,57300000
4,12 Angry Men,1957,96 min,"[Crime, Drama]",0.823529,0.286778,4360000

In [201]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()  # Create the encoder
genre_encoded = pd.DataFrame(mlb.fit_transform(df['Genre']), columns=mlb.classes_)  # Transform

# Merge the encoded genres back with the original dataframe
df = df.join(genre_encoded)

# Optional: Drop the original 'Genre' column if no longer needed
# df.drop(columns=['Genre'], inplace=True)

print(df.head())  # Check the updated dataframe

               Series_Title Released_Year  Runtime                   Genre  \
0  The Shawshank Redemption          1994  142 min                 [Drama]
1             The Godfather          1972  175 min          [Crime, Drama]
2           The Dark Knight          2008  152 min  [Action, Crime, Drama]
3    The Godfather: Part II          1974  202 min          [Crime, Drama]
4              12 Angry Men          1957   96 min          [Crime, Drama]

   IMDB_Rating  No_of_Votes      Gross  Action  Adventure  Animation  ...  \
0     1.000000     1.000000   28341469       0          0          0  ...
1     0.941176     0.688207  134966411       0          0          0  ...
2     0.823529     0.982797  534858444       1          0          0  ...
3     0.823529     0.476641   57300000       0          0          0  ...
4     0.823529     0.286778    4360000       0          0          0  ...

   Horror  Music  Musical  Mystery  Romance  Sci-Fi  Sport  Thriller  War  \
0       0      0        0        0        0       0      0         0    0
1       0      0        0        0        0       0      0         0    0
2       0      0        0        0        0       0      0         0    0
3       0      0        0        0        0       0      0         0    0
4       0      0        0        0        0       0      0         0    0

   Western
0        0
1        0
2        0
3        0
4        0

[5 rows x 28 columns]

In [203]:
num_features = df.select_dtypes(include=['int64', 'float64']).columns  # Get numeric columns
scaler = MinMaxScaler()
df[num_features] = scaler.fit_transform(df[num_features])

In [205]:
df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross,Action,Adventure,Animation,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,The Shawshank Redemption,1994,142 min,[Drama],1.000000,1.000000,0.030258,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,1972,175 min,"[Crime, Drama]",0.941176,0.688207,0.144093,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,2008,152 min,"[Action, Crime, Drama]",0.823529,0.982797,0.571026,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,1974,202 min,"[Crime, Drama]",0.823529,0.476641,0.061175,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,1957,96 min,"[Crime, Drama]",0.823529,0.286778,0.004655,0,0,0,...,0,0,0,0,0,0,0,0,0,0