In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns

In [69]:
df=pd.DataFrame

In [71]:
df=pd.read_csv(r"C:\Users\Admin\Downloads\archive (1)\imdb_top_1000.csv")
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [73]:
df.shape

(1000, 16)

In [76]:
df=df[[ #'Poster_Link',
    'Series_Title', 'Released_Year', #'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating',# 'Overview', 'Meta_score',
     #'Director',
      # 'Star1', 'Star2', 'Star3', 'Star4', 
    'No_of_Votes','Gross'  ]].copy()

In [78]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [80]:
df.columns

Index(['Series_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating',
       'No_of_Votes', 'Gross'],
      dtype='object')

In [83]:
missing_value=df.isnull().sum()

In [90]:
print("The number of missing values is:" ,missing_value)

The number of missing values is: Series_Title       0
Released_Year      0
Runtime            0
Genre              0
IMDB_Rating        0
No_of_Votes        0
Gross            169
dtype: int64

In [92]:
df.fillna(0, inplace=True)

In [94]:
print(df.isnull().sum())

Series_Title     0
Released_Year    0
Runtime          0
Genre            0
IMDB_Rating      0
No_of_Votes      0
Gross            0
dtype: int64

In [122]:
num_features = df.select_dtypes(include=['int64', 'float64']).columns  # Get numeric columns
scaler = MinMaxScaler()
df[num_features] = scaler.fit_transform(df[num_features])

In [124]:
df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,142 min,Drama,1.000000,1.000000,0.030258
1,The Godfather,1972,175 min,"Crime, Drama",0.941176,0.688207,0.144093
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",0.823529,0.982797,0.571026
3,The Godfather: Part II,1974,202 min,"Crime, Drama",0.823529,0.476641,0.061175
4,12 Angry Men,1957,96 min,"Crime, Drama",0.823529,0.286778,0.004655

In [108]:
df.dtypes['Gross']

dtype('O')

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   object
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   No_of_Votes    1000 non-null   float64
 6   Gross          1000 non-null   object
dtypes: float64(2), object(5)
memory usage: 54.8+ KB

In [118]:
df['Gross'] = df['Gross'].replace('[\\$,]', '', regex=True) 
df['Gross'] = pd.to_numeric(df['Gross'], errors='coerce')

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   object
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   No_of_Votes    1000 non-null   float64
 6   Gross          1000 non-null   int64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB